# frontend build artifacts
frontend/dist
frontend/.cache
frontend/node_modules

# backend build artifacts
backend/node_modules

# backend run artifacts
backend/output.json

#backend coverage result
coverage-final.json
coverage
